<p>Bug Tracker Lite</p>
<!-- User Input Form-->
<label for="bugTitle">Title: </label>
<input type="text" (input)="onTextInput($event)" id="bugTitle" placeholder="Title or Error Code" ><br><br>

<label for="bugDescription">Description: </label>
<input type="text" (input)="onTextInput($event)" id="bugDescription" placeholder="Describe what happened and if possible how
to reproduce"><br><br>

<label for="bugPriority">Priority: </label>
<select id="bugPriority" (change)="onSelectionChange($event)">
  <option *ngFor="let option of ['Please Select', 'High', 'Medium', 'Low']" 
  value="{{option}}">{{option}}</option>
</select>

<!-- Condition Messages to display when trying to postBug()-->
<br>
<div *ngIf="errorMessageVisible">
  Please fill all fields before sending.
</div>
<div *ngIf="successMessageVisible">
  Thank you for your report!
</div>
<div *ngIf="doubleEntryMessageVisible">
  You have already reported a bug. Please refresh the page before submitting again.
</div>
<!-- postBug() POST to server.js-->
<button (click)="postBug()">Submit</button>
<br><br>

<!-- getBugs() GET from server.js all Bugs in (Memory) DB-->
<button (click)="getBugs()">Get Bugs</button>

<!-- Iterate over all Bugs in DB and display each one of them-->
 <h3 *ngIf="bugReportRequested">All Bugs</h3>
 <p *ngIf="noBugsReported">Currently no Bugs reported.</p>
 <p *ngIf="noBugsReported">If there are, they will be displayed like this:</p>
<li *ngFor="let bug of bugsDisplay()">
  <div> {{bug.noBugsTitle}} <div>
  <div> ID:  {{bug.id}} </div>
  <div> Title: {{bug.title}} </div>
  <div> Description: {{bug.description}} </div>
  <div> Priority: {{bug.priority}} </div>
  <div> Reported on: {{bug.createdAt}} </div>

